<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Home', ~{::content})}">

    <body class="bg-gray-900 text-gray-400">

        <div th:fragment="content" class="w-10/12 p-2 flex flex-col gap-3">

            <div class="w-full max-w-3xl mx-auto">
                <h2 class="text-2xl font-black italic text-sky-500 my-5">
                    New Category
                </h2>

                <!-- th:object="${categoryRequest}" refere-se ao endpoint post para onde envia o objeto -->
                <!-- th:action="@{/newCategory}" => refere-se ao endpoint get-->
                <form th:action="@{/categories/editCategory}" th:object="${edit}" method="post"
                      class="flex flex-col gap-5 rounded-lg border-2 border-gray-500 p-10 font-bold"
                >

                    <input type="hidden" name="id" th:value="${id}" >

                    <div class="flex flex-col gap-1">
                        <label for="name" class="text-sky-700">Name</label>
                        <input type="text" id="name"  autofocus placeholder="Enter with that category name...." th:field="*{name}"
                               class="border outline py-2 px-3 rounded focus:outline focus:outline-sky-500"
                        >
                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="text-red-600 font-bold py-2 "
                        ></small>
                    </div>

                    <div class="flex flex-col gap-1">
                        <label for="description" class="text-sky-700">Description</label>
                        <textarea id="description" placeholder="Enter with that category description..." rows="4" th:field="*{description}"
                                  class="border outline py-2 px-3 rounded focus:outline focus:outline-sky-500"
                        ></textarea>
                        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                               class="text-red-600 font-bold py-2 "
                        ></small>
                    </div>

                    <div class="mt-3 flex justify-end gap-5">
                        <button type="submit"
                            class="border-2 border-emerald-500 py-2 px-4 font-black italic rounded bg-emerald-700 text-white cursor-pointer outline
                            hover:bg-emerald-900 transition-all duration-500 focus:outline-sky-700"
                        >
                            Edit Category
                        </button>

                        <a th:href="@{/categories}" type="submit"
                                class="border-2 border-red-500 py-2 px-4 font-black italic rounded bg-red-700 text-white cursor-pointer outline
                            hover:bg-red-900 transition-all duration-500 focus:red-sky-700"
                        >
                            Cancel
                        </a>
                    </div>

                </form>
            </div>

        </div>


    </body>

</html>


